@model NeverGoodEnough.Models.ViewModels.GameMechanic.DetailsGameMechanicVm

<div class="card">
    <img class="card-image" src="@Model.ImageUrl" alt="Image" />
    <div class="card-container">
        <h3>
            Mechanic: <br />
            <span style="color: black;">@Html.DisplayFor(model => model.Name)</span>
        </h3>
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
        @if (string.IsNullOrEmpty(@Model.Tags))
        {
            <p>@Model.Tags</p>
        }
    </div>
    <div class="card-footer">
        Upvotes: @Model.Upvotes
        <span style="float: right;">@Model.CreationDate.ToString("dd-MM-yyyy")</span>
    </div>
</div>