@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">

        @if (this.User.IsInRole("Administrator"))
        {
            <li class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                    <span>Engineers</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("All", "All", "Engineers", new { area = "Administrator" }, null)
                    </li>
                </ul>
            </li>
        }

        <li class="dropdown">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                <span>Personal</span>
            </a>

            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Games", "All", "Games", null, null)
                </li>
                <li>
                    @Html.ActionLink("Objects", "All", "GameObjects", null, null)
                </li>
                <li>
                    @Html.ActionLink("Mechanics", "All", "GameMechanics", null, null)
                </li>
                <li>
                    @Html.ActionLink("Victory Conditions", "All", "GameVictoryConditions", null, null)
                </li>
            </ul>
        </li>
    </ul>
}