@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        
        <li class="dropdown">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                <span>Games</span>
            </a>
            <ul class="dropdown-menu">
                @*<li>
        @Html.ActionLink("Create", "Create", "Games", null, null)
    </li>*@
                <li>
                    @Html.ActionLink("All", "All", "Games", null, null)
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                <span>Mechanics</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Create", "Create", "GameMechanics", null, null)
                </li>
                <li>
                    @Html.ActionLink("All", "All", "GameMechanics", null, null)
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                <span>Victory Conditions</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Create", "Create", "GameVictoryConditions", null, null)
                </li>
                <li>
                    @Html.ActionLink("All", "All", "GameVictoryConditions", null, null)
                </li>
            </ul>
        </li>
    </ul>
}